
/* .container { 
	background: #dbd8e3; 
} */

.third-color { 
	background: #352f44; 
}

.fourth-color { 
	background: #2a2438; 
}
.container{
    margin: 0;
    position: absolute;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    box-shadow: rgba(32, 30, 30, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.box .inputs{
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.box .inputs label{
    color: rgb(188, 201, 214);
}
.box .inputs input{
    width: 100%;
    height: 40px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    color: #6f6d75;
    font-size: 16px;
    resize: none;
}
span{
    color: rgba(204, 202, 205, 0.833);
    font-size: 30px;
    padding-top: 20px;
}
.box .inputs .des textarea{
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
.dd{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}
.box{
    width: 100%;
}
.box button{
    color: rgb(188, 201, 214);
    background-color: #613ad8;
    border: none;
    box-shadow: 3px 3px 2px 2px rgba(2, 2, 4, 0.224);
}


@media screen and (max-width:1440px) {
    .box{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-47%,25%);
        width: 100%;
        height: 100%;
    }
    .box button{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-62%,95%);
    }
    .box-one span{
        font-size: 2.5em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-26%,-431%);
        width: 100%;
       }
}
@media screen and (max-width:1024px) {
    .box{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-47%,25%);
        width: 100%;
        height: 100%;
    }
    .box button{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-62%,95%);
    }
    .box-one span{
        font-size: 2em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-34%,-476%);
        width: 100%;
       }
}
/* @media screen and (max-width:640px) {
    .box{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-47%,25%);
        width: 100%;
        height: 100%;
    }
    .box button{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-62%,95%);
    }
    .box-one span{
        font-size: 2em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-33%,-417%);
        width: 100%;
       }
}
@media screen and (max-width:550px) {
    .box{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-47%,25%);
        width: 100%;
        height: 100%;
    }
    .box button{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-62%,95%);
    }
    .box-one span{
        font-size: 1.9em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-36%,-478%);
        width: 100%;
       }
}
@media screen and (max-width:450px) {
    .box{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-47%,25%);
        width: 100%;
        height: 100%;
    }
    .box button{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-62%,95%);
    }
    .box-one span{
        font-size: 1.8em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-38%,-468%);
        width: 100%;
       }
}
@media screen and (max-width:425px) {
    .box{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-47%,25%);
        width: 100%;
        height: 100%;
    }
    .box button{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-62%,95%);
    }
    .box-one span{
        font-size: 1.7em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-39%,-469%);
        width: 100%;
       }
} */
